/*mentions legales*/
#bloc-page-mention{
    width: 100%;
    height: auto;
  }
 #container-mentions{
     height:auto;
     text-align: center;
 }
 p{
     padding:10px;
 }
 .important{
     font-size: 1.5em; 
     color: red; 
 }
 

 @media screen and (max-width: 870px){
    #container-mentions {
        text-align: center;
      }
 }
 /*mentions legales*/