#bloc-page{
    width: 100%;
    height: auto;
    margin:0;
  }
 #container-mentions{
     height:auto;
     text-align: center;
 }
 p{
     padding:10px;
 }

 @media screen and (max-width: 870px){
    #container-mentions {
        height: 850px;
        text-align: center;
      }
 }