   
.bloc-page-m3 {
  margin: 0;
  background-color: #fff;
}

#container-m3 {
  font-family: 'Kalam', cursive;
  width: 90%;
  margin: 50px auto;
  background-color: #e5ffff;
  padding-bottom: 30px;
  margin-bottom:100px;
}

.title-m3 {
  color:black;
  font-weight: lighter;
  margin:0;
  display:inline;
  padding-top: 20px;
  margin: 0px 30px;
}

.btn {
  border: solid 5px #0d47a1;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  display: inline-flex;
  align-self: center;
  width: 33%;
  margin: 0 auto;
  border-radius: 0px 0px 0px 10px;
  align-self: center;

}

.btn2 {
  border: solid 4px #0d47a1;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  display: inline-flex;
  align-self: center;
  justify-content: start;
  width: 33%;
  margin: 0 auto;
  border-radius: 0px 0px 10px 0px;
  align-self: center;
}

.btn3 {
  border: solid 5px #1e88e5;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  display: inline-flex;
  align-self: center;
  width: 33%;
  margin: 0 auto;
  float: left;
  border-radius: 0px 0px 0px 10px;
  align-self: center;
}

.btn4 {
  border: solid 4px #1e88e5;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  display: inline-flex;
  align-self: center;
  justify-content: start;
  width: 33%;
  margin: 0 auto;
  float: right;
  border-radius: 0px 0px 10px 0px;
  align-self: center;
}

.btn5 {
  border: solid 5px #64b5f6;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  display: inline-flex;
  align-self: center;
  width: 33%;
  margin: 0 auto;
  float: left;
  border-radius: 0px 0px 0px 10px;
  align-self: center;
}

.btn6 {
  border: solid 4px #64b5f6;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  display: inline-flex;
  align-self: center;
  justify-content: start;
  width: 33%;
  margin: 0 auto;
  float: right;
  border-radius: 0px 0px 10px 0px;
  align-self: center;
}

.bloc {
  display: flex;
  -ms-flex-direction: row;
  flex-direction: column;
  word-break: normal;

}

.entree, .plat, .dessert {
  display: inline-flex;
  width: 100%;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  word-break: normal;
  margin-bottom: 60px;
}

#light-m3 {
  margin-bottom: 30px;
}

.gradient-m3 {
  font-size: 4em;
  padding: 40px 0;
  display: inline-flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 30px;
  width: 100%;
}
.light-m3 {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  margin: 30px;
  width: 100%;
}
@supports (mix-blend-mode: lighten) {
  .gradient-m3 {
    font-size: 4em;
    justify-content: center;
    position: relative;
    color: #000;
    background: #fff;
    mix-blend-mode: multiply;
  }
  .gradient-m3::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: -webkit-gradient(linear, left top, right top, from(#0d47a1), color-stop(#0d47a1), color-stop(#1e88e5), color-stop(#64b5f6), to(#64b5f6));
    background: linear-gradient(to right, #0d47a1, #0d47a1, #1e88e5, #64b5f6, #64b5f6);
    mix-blend-mode: screen;
  }
}

@media screen and (max-width: 870px){
  #container-m3{
    width:100%;
    margin:0;
    margin-bottom: 100px;
  }
  #bas{
    margin:0;
  }
  .light-m3{
    display: flex;
    justify-content: center;
    margin: auto;
  }
  .titre{
    font-size:1em;
  }
  .plat, .entree, .dessert{
    display:flex;
    flex-direction:column;
    margin-top: 60px;
    margin-bottom: 0;
  }
  .title-m3{
    padding:0;
    margin: auto;
  }
  .btn, .btn3, .btn5{
    display: inline-flex;
    align-self: center;
    width: 50%;
    margin: 0;
    height: 10px;
    border-radius: 0px 0px 10px 10px;
    transform: rotate(180deg);
  }
  .btn2, .btn4, .btn6{
    border-radius: 0px 0px 10px 10px;
    width:50%;
    margin-bottom: 30px;
    margin: auto;
  }
  .gradient-m3{
    font-size: 2em;
    margin:auto;
    text-align: center;
  }
  .prix{
    display: inline-flex;
    justify-content: center;
    width: auto;
  }
  .li{
    font-size:1.3em;
  }
}

