@charset "UTF-8";
/*menu2*/
/*englobe menu2*/
#container-m-2 {
  width: 100%;
  height: auto;
}

#carte-m2 {
  font-family: 'Parisienne', cursive;
  background-color: #fdf5fe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  height: auto;
  margin: auto;
  margin-bottom: 80px;
  padding-top: 50px;
}

.bloc-page-m2 {
  background-color: #fff;
}

#box-m2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*englobe menu2*/
/*titre coloré menu2*/
.titrecouleurm2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.gradient-m2 {
  text-align: center;
  font-size: 4em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  width: 100%;
}

.gradient-m2 {
  position: relative;
  color: #000;
  background: #fff;
  mix-blend-mode: multiply;
}

.gradient-m2::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(#c77800), color-stop(#c77800), color-stop(#faaa54), color-stop(#ba68c8), color-stop(#9c6996), to(#8559da));
  background: linear-gradient(to right, #c77800, #c77800, #faaa54, #ba68c8, #9c6996, #8559da);
  mix-blend-mode: screen;
}

/*titre coloré menu2*/
/*communs menu2*/
.entree-m2 .plat-m2 .dessert-m2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 3%;
}

.englobe-m2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  width: 100%;
  margin: 70px auto;
}

.icon-m2, .icon-m2-2 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
  width: 33%;
  height: 15px;
  -ms-flex-item-align: center;
      align-self: center;
  margin: auto;
}

.m-2, .m-3, .m-4 {
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 2.5em;
  font-weight: lighter;
  -webkit-text-size-adjust: auto;
}

li {
  font-weight: lighter;
  padding: 10px 0;
}

.li-m2-1 {
  color: #c77800;
}

.li-m2-2 {
  color: #ba68c8;
}

.li-m2-3 {
  color: #3f51b5;
}

/*communs menu2*/
/*entree menu2*/
.ul-m2 {
  font-size: 1.9em;
  padding: 0;
  margin: 60px;
  list-style: none;
}

.liste-m2 {
  padding-bottom: 50px;
}

.m-2:after {
  content: '';
  display: block;
  margin: auto;
  height: 1px;
  width: 0;
  background: transparent;
  -webkit-transition: width .5s ease, background-color .5s ease;
  transition: width .5s ease, background-color .5s ease;
}

.m-2:hover:after {
  width: 90%;
  background: #444;
}

.m-2 {
  color: #c77800;
}

/*entree menu2*/
/*plats menu2*/
.m-3:after {
  content: '';
  display: block;
  margin: auto;
  height: 1px;
  width: 0;
  background: transparent;
  -webkit-transition: width .5s ease, background-color .5s ease;
  transition: width .5s ease, background-color .5s ease;
}

.m-3:hover:after {
  width: 90%;
  background: #444;
}

.m-3 {
  color: #ba68c8;
}

/*plats menu2*/
/*desserts menu2*/
.m-4 {
  color: #8559da;
}

.m-4:after {
  content: '';
  display: block;
  margin: auto;
  height: 1px;
  width: 0;
  background: transparent;
  -webkit-transition: width .5s ease, background-color .5s ease;
  transition: width .5s ease, background-color .5s ease;
}

.m-4:hover:after {
  width: 90%;
  background: #444;
}

/*desserts menu2*/
/*listes des plats menu2*/
/*menu2 responsive*/
@media (max-width: 870px) {
  #container-m-2 {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
  }
  #carte-m2 {
    width: 100%;
    height: auto;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
  .gradient-m2 {
    font-size: 3em;
  }
  .prix {
    float: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 15px;
    margin: 0;
    padding: 0;
  }
  .m-2, .m-3, .m-4 {
    margin: 20px auto;
    font-size: 1.5em;
  }
  .englobe-m2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 50px;
  }
  .icon-m2, .icon-m2-2 {
    width: auto;
  }
  .icon-m2 {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .ul-m2 {
    font-size: 1.7em;
    margin: auto;
    padding: 5px;
  }
}

/*menu2 responsive*/
/*# sourceMappingURL=menu2.css.map */