@charset "UTF-8";
/*menu4*/
#container-m4 {
  height: auto;
}

#carte-m4 {
  font-family: 'Rokkitt', serif;
  width: 90%;
  margin: auto;
  margin-bottom: 80px;
  padding-top: 30px;
}

/*titre coloré menu4*/
.gradient-m4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 4em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  background: #fff;
}

.gradient-m4::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(#2e7d32), color-stop(#81c784), color-stop(#98ee99), to(#98ee99));
  background: linear-gradient(to right, #2e7d32, #81c784, #98ee99, #98ee99);
  mix-blend-mode: screen;
}

/*titre coloré menu4*/
/*soulignement animé*/
#traitm4:after {
  content: '';
  display: block;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 0;
  background: transparent;
  -webkit-transition: width .7s ease, background-color .7s ease;
  transition: width .7s ease, background-color .7s ease;
}

#traitm4:hover:after {
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#2e7d32), color-stop(#81c784), color-stop(#98ee99), to(#98ee99));
  background: linear-gradient(to right, #2e7d32, #81c784, #98ee99, #98ee99);
}

/*soulignement animé*/
/*commun menu4*/
.englobe-m4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  word-break: normal;
}

.btnm4 {
  background: -webkit-gradient(linear, left top, right top, from(#2e7d32), color-stop(#81c784), color-stop(#98ee99), to(#98ee99));
  background: linear-gradient(to right, #2e7d32, #81c784, #98ee99, #98ee99);
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-item-align: center;
      align-self: center;
  width: 33%;
  height: 8px;
  margin: 0 20px;
  float: left;
  align-self: center;
}

.btnm4-2 {
  background: -webkit-gradient(linear, right top, left top, from(#2e7d32), color-stop(#81c784), color-stop(#98ee99), to(#98ee99));
  background: linear-gradient(to left, #2e7d32, #81c784, #98ee99, #98ee99);
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-item-align: center;
      align-self: center;
  width: 33%;
  height: 8px;
  margin: 0 20px;
  float: right;
  align-self: center;
}

.entree-m4 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  word-break: normal;
  margin-bottom: 60px;
}

/*commun menu4*/
/*responsive menu4*/
@media screen and (max-width: 870px) {
  #container-m4 {
    height: auto;
  }
  .gradient-m4 {
    font-size: 3em;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
  #traitm4:after {
    -webkit-transition: none;
    transition: none;
  }
  #carte-m4 {
    width: 100%;
    height: auto;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
  .block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .title-m4 {
    width: 30%;
    margin: 0;
    text-align: center;
  }
}

/*responsive menu4*/
/*menu4*/
/*# sourceMappingURL=menu4.css.map */