

html {
  width: 100%;
  height: auto;
}

#container-m2 {
  font-family: 'Playfair Display', serif;
  position: relative;
  background-color: #fdf5fe;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: auto;
  margin: auto;
  margin-bottom: 150px;
  padding-bottom: 50px;
  -webkit-margin-bottom-collapse: separate;
}
.bloc-page-m2{
  background-color: #fff;
}
#box-m2{
  display:flex;
  flex-direction: column;
}

.bloc-page-m2 {
  font-family: sans-serif;
  margin:0;
}
  .m-2, .m-3, .m-4{
    margin: auto;
    justify-content:center;
    align-items:center;
    text-align: center;
    font-size: 1.3em;
    -webkit-text-size-adjust: auto;
  }
  .m-2:after {
    content: '';
    display: block;
    margin: auto;
    height: 1px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}
 .m-2:hover:after {
    width: 90%;
    background: #444;
}
.m-3:after {
  content: '';
  display: block;
  margin: auto;
  height: 1px;
  width: 0;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}
.m-3:hover:after {
  width: 90%;
  background: #444;
}
.m-4:after {
  content: '';
  display: block;
  margin: auto;
  height: 1px;
  width: 0;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}
.m-4:hover:after {
  width: 90%;
  background: #444;
}
  .m-2 {
    color:#c77800;
  }
  .m-3 {
    color: #ba68c8;
   }
   .m-4 {
    color: #8559da;
   }
   
   
  .englobe-m2{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    width:100%;
    margin: 70px auto;
  }
  .li-m2-1{
    font-size: 1.1em;
    padding-bottom: 10px;
  }
  .liste-m2{
    padding-bottom:50px;
  }
  .icon-m2, .icon-m2-2{
    display: inline-flex;
    vertical-align: middle;
    height: 15px;
    align-self: center;
    margin: auto;
  }
  
  @supports (mix-blend-mode: lighten) {
    section.light-m2 .gradient-m2 {
      display: inline-block;
      position: relative;
      color: #000;
      background: #fff;
      mix-blend-mode: multiply;
    }
    section.light-m2 .gradient-m2::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: -webkit-gradient(linear, left top, right top, from(#c77800), color-stop(#faaa54), color-stop(#ba68c8), color-stop(#ba68c8), to(#8559da));
      background: linear-gradient(to right, #c77800, #faaa54, #ba68c8, #9c6996, #8559da);
      pointer-events: none;
      mix-blend-mode: screen;
    }
  }

.li-m2-1,.title-m2-1{
  color: #c77800;
}
.li-m2-2,.title-m2-2{
  color: #ba68c8;
}
.li-m2-3, .title-m2-3{
  color: #3f51b5;
}
.entree-m2 .plat-m2 .dessert-m2{
  display: flex;
  flex-direction: column;
  margin-bottom: 3%;
}

li {
  font-weight: lighter;
}

section.light-m2 {
  margin-top: 70px;
  text-align: center;
  background: #fdf5fe;
}

.light-m2 {
  background-color: #9c6996;
  margin-bottom: 30px;
}

.gradient-m2 {
  font-size: 2.4em;
}

@media (max-width: 870px){
  #container-m2{
    width: 100%;;
    margin:0;
    margin-bottom: 100px;
  }
  .gradient-m2{
    font-size: 2em;
    margin:0;
  }
  ul{
    text-align: center;
    margin-top:10px;
  }
  .prix {
    float:none;
    display: flex;
    justify-content: center;
    margin-top:15px;
    margin: 0;
    padding: 0;
  }
  .englobe-m2{
    flex-direction: column;
    margin-bottom: 50px;;
  }
  section.light-m2{
    margin: auto;
  }
  .icon-m2, .icon-m2-2{
    width: auto;
  }
  .icon-m2{
    transform: rotate(180deg);
  }
  li{
    padding: 10px 0px;
  }

}