@charset "UTF-8";
/*menu3*/
#container-m-3 {
  height: auto;
}

#carte-m3 {
  font-family: 'Kalam', cursive;
  width: 90%;
  margin: auto;
  margin-bottom: 80px;
  background-color: #e5ffff;
  padding-top: 50px;
  padding-bottom: 30px;
}

/*commun menu3*/
.bloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  word-break: normal;
}

.entree,
.plat,
.dessert {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  word-break: normal;
}

/*commun menu3*/
/*titre coloré menu3*/
.gradient-m3 {
  font-size: 4em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  width: 100%;
  position: relative;
  color: #000;
  background: #fff;
  mix-blend-mode: multiply;
  padding-bottom: 30px;
}

.gradient-m3::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(#0d47a1), color-stop(#0d47a1), color-stop(#1e88e5), color-stop(#64b5f6), to(#64b5f6));
  background: linear-gradient(to right, #0d47a1, #0d47a1, #1e88e5, #64b5f6, #64b5f6);
  mix-blend-mode: screen;
}

/*titre coloré menu3*/
/*soulignement animé*/
.traitm3:after {
  content: '';
  display: block;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 0;
  background: transparent;
  -webkit-transition: width .7s ease, background-color .7s ease;
  transition: width .7s ease, background-color .7s ease;
}

.traitm3:hover:after {
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#0d47a1), color-stop(#0d47a1), color-stop(#1e88e5), color-stop(#64b5f6), to(#64b5f6));
  background: linear-gradient(to right, #0d47a1, #0d47a1, #1e88e5, #64b5f6, #64b5f6);
}

/*soulignement animé*/
/*separateurs menu3*/
.btn {
  border-bottom: solid 5px #0d47a1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 33%;
  height: 20px;
  margin: 0 20px;
  border-radius: 0px 0px 0px 10px;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.btn2 {
  border-bottom: solid 4px #0d47a1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 33%;
  height: 20px;
  margin: 0 20px;
  border-radius: 0px 0px 10px 0px;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.btn3 {
  border-bottom: solid 5px #1e88e5;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-item-align: center;
      align-self: center;
  width: 33%;
  height: 20px;
  margin: 0 20px;
  border-radius: 0px 0px 0px 10px;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.btn4 {
  border-bottom: solid 4px #1e88e5;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 33%;
  height: 20px;
  margin: 0 20px;
  border-radius: 0px 0px 10px 0px;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.btn5 {
  border-bottom: solid 5px #64b5f6;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-item-align: center;
      align-self: center;
  width: 33%;
  height: 20px;
  margin: 0 20px;
  border-radius: 0px 0px 0px 10px;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.btn6 {
  border-bottom: solid 4px #64b5f6;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 33%;
  height: 20px;
  margin: 0 20px;
  border-radius: 0px 0px 10px 0px;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

/*separateurs menu3*/
/*responsive menu3*/
@media screen and (max-width: 870px) {
  #carte-m3 {
    width: 90%;
    padding-bottom: 30px;
    height: auto;
    margin: auto;
    margin-bottom: 30px;
  }
  .traitm3:after {
    -webkit-transition: none;
    transition: none;
  }
  .plat,
  .entree,
  .dessert {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 30px auto;
  }
  .title-m3 {
    padding: 0;
    margin: auto;
  }
  .btn,
  .btn3,
  .btn5 {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-item-align: center;
        align-self: center;
    width: 50%;
    margin: 0;
    height: 20px;
    border-radius: 0px 0px 10px 10px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .btn2,
  .btn4,
  .btn6 {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-item-align: center;
        align-self: center;
    border-radius: 0px 0px 10px 10px;
    width: 50%;
    height: 20px;
    margin-bottom: 30px;
    margin: 0;
  }
  .gradient-m3 {
    font-size: 3em;
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
    padding: 0;
  }
}

/*responsive menu3*/
/*menu3*/
/*# sourceMappingURL=menu3.css.map */