/*menu3*/  
#container-m-3{
  height: 1600px;
}

#carte-m3 {
  font-family: 'Kalam', cursive;
  width: 90%;
  margin: 50px auto;
  background-color: #e5ffff;
}
/*commun menu3*/
.bloc {
  display: flex;
  -ms-flex-direction: row;
  flex-direction: column;
  word-break: normal;
}

.entree, .plat, .dessert {
  display: inline-flex;
  width: 100%;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  word-break: normal;
  margin-bottom: 60px;
}
/*commun menu3*/


/*haut menu3*/
.gradient-m3 {
  font-size: 4em;
  display: inline-flex;
  justify-content: center;
  margin: auto;
  width: 100%;
}
.gradient-m3 {
  position: relative;
  color: #000;
  background: #fff;
  mix-blend-mode: multiply;
}
.gradient-m3::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(#0d47a1), color-stop(#0d47a1), color-stop(#1e88e5), color-stop(#64b5f6), to(#64b5f6));
  background: linear-gradient(to right, #0d47a1, #0d47a1, #1e88e5, #64b5f6, #64b5f6);
  mix-blend-mode: screen;
}
/*haut menu3*/

/*separateurs menu3*/
.btn {
  border: solid 5px #0d47a1;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  display: inline-flex;
  align-self: center;
  width: 33%;
  height: 20px;
  margin: 0 20px;
  border-radius: 0px 0px 0px 10px;
  align-self: center;

}

.btn2 {
  border: solid 4px #0d47a1;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  display: inline-flex;
  align-self: center;
  justify-content: start;
  width: 33%;
  height: 20px;
  margin: 0 20px;
  border-radius: 0px 0px 10px 0px;
  align-self: center;
}

.btn3 {
  border: solid 5px #1e88e5;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  display: inline-flex;
  align-self: center;
  width: 33%;
  height: 20px;
  margin: 0 20px;
  float: left;
  border-radius: 0px 0px 0px 10px;
  align-self: center;
}

.btn4 {
  border: solid 4px #1e88e5;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  display: inline-flex;
  align-self: center;
  justify-content: start;
  width: 33%;
  height: 20px;
  margin: 0 20px;
  float: right;
  border-radius: 0px 0px 10px 0px;
  align-self: center;
}

.btn5 {
  border: solid 5px #64b5f6;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  display: inline-flex;
  align-self: center;
  width: 33%;
  height: 20px;
  margin: 0 20px;
  float: left;
  border-radius: 0px 0px 0px 10px;
  align-self: center;
}

.btn6 {
  border: solid 4px #64b5f6;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  display: inline-flex;
  align-self: center;
  justify-content: start;
  width: 33%;
  height: 20px;
  margin: 0 20px;
  float: right;
  border-radius: 0px 0px 10px 0px;
  align-self: center;
}
/*separateurs menu3*/

/*responsive menu3*/  
@media screen and (max-width: 1500px){
  .m-1{
    font-size: 1.8em;
  }

}
@media screen and (max-width: 870px){
  #container-m-3{
    height:2150px;
  }
  #carte-m3{
    width:100%;
    margin:0;
    padding-bottom: 30px;
    height: auto;
  }

  .light-m3{
    display: flex;
    justify-content: center;
    margin: 0px auto;
    padding: 20px 0;
  }
  .titre{
    font-size:1em;
  }
  .plat, .entree, .dessert{
    display:flex;
    flex-direction:column;
    margin-bottom: 0;
  }
  .title-m3{
    padding:0;
    margin: auto;
  }
  .btn, .btn3, .btn5{
    display: inline-flex;
    align-self: center;
    width: 50%;
    margin: 0;
    height: 20px;
    border-radius: 0px 0px 10px 10px;
    transform: rotate(180deg);
  }
  .btn2, .btn4, .btn6{
    display: inline-flex;
    align-self: center;
    border-radius: 0px 0px 10px 10px;
    width:50%;
    height: 20px;
    margin-bottom: 30px;
    margin: 0;
  }
  .gradient-m3{
    font-size: 2em;
    margin: 30px auto;
    text-align: center;
    padding:0;
  }
  .prix{
    display: inline-flex;
    justify-content: center;
    width: auto;
  }
}
/*responsive menu3*/
/*menu3*/

