/*menu4*/
#container-m4{
    height: auto;
}  
#carte-m4 {
    font-family: 'Rokkitt', serif;
    width: 90%;
    margin: auto;
    margin-bottom:80px;
}
/*titre coloré menu4*/
    .gradient-m4 {
        display: flex;
      font-size: 4em;
      justify-content: center;
      position: relative;
      background: #fff;
    }
    .gradient-m4::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: -webkit-gradient(linear, left top, right top, from( #2e7d32), color-stop(#66bb6a), color-stop(#66bb6a), color-stop(#81c784), to(#76d275));
      background: linear-gradient(to right, #2e7d32, #81c784, #98ee99, #98ee99);
      mix-blend-mode: screen;
    }
    /*titre coloré menu4*/

    /*commun menu4*/
    .englobe-m4{
        display: flex;
        -ms-flex-direction: row;
        flex-direction: column;
        word-break: normal;
    }

    .btnm4{
        background: -webkit-gradient(linear, left top, right top, from( #2e7d32), color-stop(#66bb6a), color-stop(#66bb6a), color-stop(#81c784), to(#76d275));
        background: linear-gradient(to right, #2e7d32, #81c784, #98ee99, #98ee99);
        border-top: 0px;
        border-right: 0px;
        border-left: 0px;
        display: inline-flex;
        align-self: center;
        width: 33%;
        height: 8px;
        margin: 0 20px;
        float: left;
        align-self: center;
      }

      .btnm4-2{
        background: -webkit-gradient(linear, right top, left bottom from( #2e7d32), color-stop(#66bb6a), color-stop(#66bb6a), color-stop(#81c784), to(#76d275));
        background: linear-gradient(to left, #2e7d32, #81c784, #98ee99, #98ee99);
        border-top: 0px;
        border-right: 0px;
        border-left: 0px;
        display: inline-flex;
        align-self: center;
        width: 33%;
        height: 8px;
        margin: 0 20px;
        float: right;
        align-self: center;
      }

      .entree-m4{
        display: inline-flex;
        width: 100%;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        word-break: normal;
        margin-bottom: 60px;
      }
    /*commun menu4*/

    /*responsive menu4*/
   @media screen and (max-width:870px){
    #container-m4{
        height: auto;
    }
    .gradient-m4{
       font-size: 2em;
       text-align: center;
       display: flex;
       position: relative;
      
    }

    #carte-m4{
        width:100%;
        margin:0;
        height: auto;
        padding-bottom: 30px; 
    }
    
    .block{
        flex-direction: column;
    }
    .light-m4{
        margin-bottom:30px;
    }
  .prix {
      float: none;
     display: flex;
     text-align: center; 
     margin: auto; 
     margin-top:8px;
     justify-content: center;
 }

 .title-m4{
     width:30%;
     margin:0;
     text-align: center;
 }

 li{
     text-align:center;
 }

 .separateur{
     width:40%; 
     height:auto;
 }

 .carte{
     width:90%;
 }
  section{
      margin:0;
  }
}
/*responsive menu4*/
/*menu4*/