/*menu1*/
  #container-m1{
      width:100%;
      height: 1650px;
  }
  .bloc-page-m1{
      margin:0;
      background-color: #fff;
      height: 100%;
     }
     .carte-m1{
        font-family: 'Neucha', cursive;
        position: relative;
        width: 90%;
        height: 1300px;
        margin: auto;
        background-color: #ffebee;
        -webkit-margin-bottom-collapse: separate;
    }
     /*haut menu1*/
     .entete {
        text-align: center;
        padding-top: 50px;
        display: flex;
        justify-content: center;
        flex-direction: column;
      }
     .note1{
       display:flex;
       justify-content: center;
       align-self: center;
       width: 90px;
       height:90px;
     }
     .titrem1{
        font-size: 4em;
        color: #4e342e;
        margin: 30px 0px;
        font-weight: lighter;
    }
    /*haut menu1*/

    /*listes des plats menu1*/
    .essaie{
        display:flex;
        flex-direction: row;
        justify-content: center;
        margin-top:0;
        width: 100%;
        vertical-align: middle;
    }
    .separateur-m1{
        width: 33%;
        display: flex;
        align-self: center;
        height: 70px;
        margin: auto;
    }
    .title:before {
        content: "";
        left: 0;
        right: 0;
        height: 2px;
        position: absolute;
        top: calc(50% - 1px);
    }
    li{
        color:#4e342e;
        }
    /*listes des plats menu1*/

    /*bas menu1*/
    .bas-m1{
        display: inline-flex;
        justify-content: center;
        width: 100%;
    }
     .note2{
         display: inline-flex;
         justify-content: center;
         width:100%;
         width:60px;
         height:60px;
         align-self: center;
     }
     .fin{
         display:inline-flex;
         width: auto;
         justify-content: center;
         color: #4e342e;
         font-size: 1.8em;
     } 
      /*bas menu1*/  

      /*menu1 responsive*/
    @media screen and (max-width: 870px){
    .title-m1{
        margin: auto;
        width: auto;
    }
    .titrem1{
        font-size: 2em;
    }
    .ul-m4{
        margin: 0;
    }
    #container-m1 {
      width: 100%;
      height: 2350px;
    }
    .carte-m1{
        height: 2100px;
    }
      .prix {
         float: none;
         display: flex;
         text-align: center; 
         margin: auto; 
         margin-top:8px;
         justify-content: center;
     }
     .essaie{
         flex-direction:column;
         height:auto;
     }
     .title{
         width:100%;
         margin: auto;
     }
     .separateur-m1 {
         width:15%;
         height: 30px;
     }
     .carte-m1{
         width: 100%;
         height: 2100px;
         margin:0;
         padding:0;
     }
     .fin{
         font-size: 1.8em;
     }
     .titre{
         margin:10px auto;
      }
    }
    /*menu1 responsive*/
