#container-m-3 {
  height: 1600px;
}

#carte-m3 {
  font-family: 'Kalam', cursive;
  width: 90%;
  margin: 50px auto;
  background-color: #e5ffff;
}

.title-m3 {
  color: black;
  font-weight: lighter;
  margin: 0;
  display: inline;
  padding-top: 20px;
  margin: 0px 30px;
}

.btn {
  border: solid 5px #0d47a1;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-item-align: center;
      align-self: center;
  width: 33%;
  height: 20px;
  margin: 0 20px;
  border-radius: 0px 0px 0px 10px;
  align-self: center;
}

.btn2 {
  border: solid 4px #0d47a1;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 33%;
  height: 20px;
  margin: 0 20px;
  border-radius: 0px 0px 10px 0px;
  align-self: center;
}

.btn3 {
  border: solid 5px #1e88e5;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-item-align: center;
      align-self: center;
  width: 33%;
  height: 20px;
  margin: 0 20px;
  float: left;
  border-radius: 0px 0px 0px 10px;
  align-self: center;
}

.btn4 {
  border: solid 4px #1e88e5;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 33%;
  height: 20px;
  margin: 0 20px;
  float: right;
  border-radius: 0px 0px 10px 0px;
  align-self: center;
}

.btn5 {
  border: solid 5px #64b5f6;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-item-align: center;
      align-self: center;
  width: 33%;
  height: 20px;
  margin: 0 20px;
  float: left;
  border-radius: 0px 0px 0px 10px;
  align-self: center;
}

.btn6 {
  border: solid 4px #64b5f6;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 33%;
  height: 20px;
  margin: 0 20px;
  float: right;
  border-radius: 0px 0px 10px 0px;
  align-self: center;
}

.bloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  word-break: normal;
}

.entree, .plat, .dessert {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  word-break: normal;
  margin-bottom: 60px;
}

#light-m3 {
  margin-bottom: 30px;
}

.gradient-m3 {
  font-size: 4em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  width: 100%;
}

.light-m3 {
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px;
  width: 100%;
}

@supports (mix-blend-mode: lighten) {
  .gradient-m3 {
    position: relative;
    color: #000;
    background: #fff;
    mix-blend-mode: multiply;
  }
  .gradient-m3::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: -webkit-gradient(linear, left top, right top, from(#0d47a1), color-stop(#0d47a1), color-stop(#1e88e5), color-stop(#64b5f6), to(#64b5f6));
    background: linear-gradient(to right, #0d47a1, #0d47a1, #1e88e5, #64b5f6, #64b5f6);
    mix-blend-mode: screen;
  }
}

@media screen and (max-width: 1500px) {
  .m-1 {
    font-size: 1.8em;
  }
}

@media screen and (max-width: 870px) {
  #carte-m3 {
    width: 100%;
    margin: 0;
    margin-bottom: 30px;
    height: 1600px;
  }
  .light-m3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0px auto;
    padding: 20px 0;
  }
  .titre {
    font-size: 1em;
  }
  .plat, .entree, .dessert {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0;
  }
  .title-m3 {
    padding: 0;
    margin: auto;
  }
  .btn, .btn3, .btn5 {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-item-align: center;
        align-self: center;
    width: 50%;
    margin: 0;
    height: 20px;
    border-radius: 0px 0px 10px 10px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .btn2, .btn4, .btn6 {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-item-align: center;
        align-self: center;
    border-radius: 0px 0px 10px 10px;
    width: 50%;
    height: 20px;
    margin-bottom: 30px;
    margin: 0;
  }
  .gradient-m3 {
    font-size: 2em;
    margin: auto;
    text-align: center;
    padding: 0;
  }
  .prix {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: auto;
  }
  .li {
    font-size: 1.3em;
  }
}
/*# sourceMappingURL=menu3.css.map */