#container-m1 {
  width: 100%;
  height: 1650px;
}

.bloc-page-m1 {
  margin: 0;
  background-color: #fff;
  height: 100%;
}

.note1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  width: 90px;
  height: 90px;
}

.note2 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  width: 60px;
  height: 60px;
  -ms-flex-item-align: center;
      align-self: center;
}

.fin {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #4e342e;
  font-size: 1.8em;
}

.carte-m1 {
  font-family: 'Neucha', cursive;
  position: relative;
  width: 90%;
  height: 1300px;
  margin: auto;
  background-color: #ffebee;
  -webkit-margin-bottom-collapse: separate;
}

.titrem1 {
  font-size: 4em;
  color: #4e342e;
  margin: 30px 0px;
  font-weight: lighter;
}

.essaie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0;
  width: 100%;
  vertical-align: middle;
}

.separateur-m1 {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  height: 70px;
  margin: auto;
}

.bas-m1 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.entete {
  text-align: center;
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.titre-m1 {
  font-weight: lighter;
  font-size: 2.4em;
  color: #4e342e;
  margin: 0;
}

.title-m1 {
  text-align: center;
  font-weight: normal;
  font-size: 1.3em;
  font-family: 'Luminari', fantasy;
  color: #4e342e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fa, .fas {
  font-weight: 900;
  margin-right: 5px;
}

li {
  color: #4e342e;
}

.title:before {
  content: "";
  left: 0;
  right: 0;
  height: 2px;
  position: absolute;
  top: calc(50% - 1px);
}

@media screen and (max-width: 870px) {
  .title-m1 {
    margin: auto;
    width: auto;
  }
  .titrem1 {
    font-size: 2em;
  }
  .ul-m4 {
    margin: 0;
  }
  #container-m1 {
    width: 100%;
    height: 2350px;
  }
  .carte-m1 {
    height: 2100px;
  }
  .prix {
    float: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    margin: auto;
    margin-top: 8px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .essaie {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .title {
    width: 100%;
    margin: auto;
  }
  .separateur-m1 {
    width: 15%;
    height: 30px;
  }
  .carte-m1 {
    width: 100%;
    height: 2100px;
    margin: 0;
    padding: 0;
  }
  .fin {
    font-size: 1.8em;
  }
  .titre {
    margin: 10px auto;
  }
}
/*# sourceMappingURL=menu1.css.map */