@charset "UTF-8";
#bloc-page {
  width: 100%;
  margin: 0;
}

.T-header {
  text-decoration: none;
  color: #ffd54f;
}

.header {
  text-align: center;
  width: 100%;
  height: 80px;
  background-color: #00796b;
  font-size: 1.3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header > h1:nth-child(1) {
  font-family: sans-serif;
}

.titre {
  font-family: sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
  margin: 40px auto;
  font-weight: lighter;
  font-size: 1.2em;
}

#title {
  font-weight: lighter;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.m-1 {
  font-family: cursive;
  text-decoration: none;
  text-align: center;
  margin: auto;
  color: #263238;
  font-weight: lighter;
  font-size: 2.5em;
}

.m-1:after {
  content: '';
  display: block;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 0;
  background: transparent;
  -webkit-transition: width .5s ease, background-color .5s ease;
  transition: width .5s ease, background-color .5s ease;
}

.m-1:hover:after {
  width: 100%;
  background: grey;
}

.title-m2-1 > a:nth-child(1) {
  color: #c77800;
}

.block {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ul-m4 {
  font-size: 1.7em;
  padding: 0 80px;
  list-style: none;
}

li {
  vertical-align: middle;
  padding-bottom: 8px;
}

.prix {
  float: right;
  font-size: 0.8em;
}

#bas {
  height: 80px;
  background-color: #00796b;
  color: #ffd54f;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  bottom: 0;
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  font-family: sans-serif;
}

#bas a {
  color: #ffd54f;
  text-decoration: none;
}

#bas p:last-child {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.mail:hover {
  color: #ffd54f;
  -webkit-animation: thing 0.1s;
          animation: thing 0.1s;
  -webkit-animation-iteration-count: 5;
          animation-iteration-count: 5;
}

.mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mention {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mention:hover {
  color: #ffd54f;
  -webkit-animation: thing 0.1s;
          animation: thing 0.1s;
  -webkit-animation-iteration-count: 5;
          animation-iteration-count: 5;
  text-align: left;
}

@media screen and (max-width: 870px) {
  #bas {
    margin: 0;
    padding: 0;
  }
  #title {
    width: auto;
  }
  .header {
    height: auto;
  }
  .ul-m4 {
    height: auto;
    margin-top: 0;
    font-size: 1.7em;
    padding: 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .m-1 {
    margin: 0;
    font-size: 1.5em;
  }
  li {
    list-style: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
    padding: 0;
  }
  .prix {
    margin: 0;
    padding: 8px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/*index*/
/*container index*/
html, body {
  font-family: sans-serif;
  width: 100%;
  height: auto;
  margin: 0;
}

#container1 {
  width: 100%;
  margin: 0;
  height: auto;
}

/*container index*/
/*header index*/
.header1 {
  text-align: center;
  width: 100%;
  height: 130px;
  background-color: #00796b;
  color: #ffd54f;
  font-size: 1.3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*header index*/
/*barre de recherche index*/
.recherche .iconloupe {
  background: url(http://www.larevuedekenza.fr/wp-content/themes/quarter/images/sidebar/loupe.png) no-repeat 0 0;
}

.recherche input {
  outline: 0;
  border: 0;
  margin: 0;
  height: 24px;
  float: left;
  display: block;
  padding-left: 30px;
}

.recherche {
  background-color: white;
  height: 30px;
  border: solid 1px grey;
}

.iconloupe {
  float: left;
}

/*barre de recherche index*/
/*box + zoom sur image*/
#box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 80%;
  margin: auto;
  justify-content: space-around;
}

#box1 img:hover {
  width: 100%;
  /* L'image est grossie de 15% */
  -webkit-transform: scale(1.15);
  /* Safari et Chrome */
  /* Firefox */
  /* Internet Explorer 9 */
  /* Opera */
  transform: scale(1.15);
  opacity: 0.6;
}

.menu {
  width: 100%;
  height: auto;
  -webkit-transition: -webkit-transform .9s;
  -webkit-transition: -webkit-transform 1.5s;
  transition: -webkit-transform 1.5s;
  transition: transform 1.5s;
  transition: transform 1.5s, -webkit-transform 1.5s;
}

.menu {
  margin: 30px auto 30px auto;
  border: solid 1px #cfcfcf;
  width: 40%;
  height: 750px;
  overflow: hidden;
}

.menu img {
  width: 100%;
  height: 100%;
}

.menu img:hover {
  -webkit-transition: 0.9s;
  transition: 0.9s;
  width: 100%;
  height: 700px;
}

/*box + zoom sur image*/
/*prochainement + animation points*/
.bientot {
  font-size: 2.1em;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffd54f;
  border: 2px dotted #00796b;
  background-color: #00796b;
  border-radius: 10px;
  width: 33%;
  margin: 30px auto 100px auto;
  height: auto;
}

@-webkit-keyframes dots {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: -5px;
  }
  100% {
    margin-top: 0;
  }
}

@keyframes dots {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: -5px;
  }
  100% {
    margin-top: 0;
  }
}

.bientot span:first-child {
  -webkit-animation: dots 1.5s infinite;
          animation: dots 1.5s infinite;
}

.bientot span:nth-child(2) {
  -webkit-animation: dots 1.5s infinite;
          animation: dots 1.5s infinite;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.bientot span:last-child {
  -webkit-animation: dots 1.5s infinite;
          animation: dots 1.5s infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

span {
  margin-top: -5px;
}

/*prochainement + animation points*/
/*mentions + mail animés*/
@-webkit-keyframes thing {
  0% {
    margin: 0;
  }
  15% {
    margin-top: -2px;
  }
  33% {
    margin-left: -5px;
  }
  45% {
    margin-top: 2px;
  }
  66% {
    margin-left: 5px;
  }
  100% {
    margin: 0;
  }
  0% {
    margin: 0;
  }
  15% {
    margin-top: -2px;
  }
  33% {
    margin-right: -5px;
  }
  45% {
    margin-top: 2px;
  }
  66% {
    margin-right: 5px;
  }
  100% {
    margin: 0;
  }
}
@keyframes thing {
  0% {
    margin: 0;
  }
  15% {
    margin-top: -2px;
  }
  33% {
    margin-left: -5px;
  }
  45% {
    margin-top: 2px;
  }
  66% {
    margin-left: 5px;
  }
  100% {
    margin: 0;
  }
  0% {
    margin: 0;
  }
  15% {
    margin-top: -2px;
  }
  33% {
    margin-right: -5px;
  }
  45% {
    margin-top: 2px;
  }
  66% {
    margin-right: 5px;
  }
  100% {
    margin: 0;
  }
}

/*mentions + mail animés*/
/*responsive index*/
@media screen and (max-width: 1150px) {
  #box1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu {
    width: 100%;
    height: auto;
  }
  .bientot {
    width: 60%;
    font-size: 1.5em;
  }
}

/*responsive index*/
/*index*/
/*menu1*/
#container-m1 {
  width: 100%;
  height: 1650px;
}

.bloc-page-m1 {
  margin: 0;
  background-color: #fff;
  height: 100%;
}

.carte-m1 {
  font-family: 'Neucha', cursive;
  position: relative;
  width: 90%;
  height: 1300px;
  margin: auto;
  background-color: #ffebee;
  -webkit-margin-bottom-collapse: separate;
}

/*haut menu1*/
.entete {
  text-align: center;
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.note1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  width: 90px;
  height: 90px;
}

.titrem1 {
  font-size: 4em;
  color: #4e342e;
  margin: 30px 0px;
  font-weight: lighter;
}

/*haut menu1*/
/*listes des plats menu1*/
.essaie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0;
  width: 100%;
  vertical-align: middle;
}

.separateur-m1 {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  height: 70px;
  margin: auto;
}

.title:before {
  content: "";
  left: 0;
  right: 0;
  height: 2px;
  position: absolute;
  top: calc(50% - 1px);
}

li {
  color: #4e342e;
}

/*listes des plats menu1*/
/*bas menu1*/
.bas-m1 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.note2 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  width: 60px;
  height: 60px;
  -ms-flex-item-align: center;
      align-self: center;
}

.fin {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #4e342e;
  font-size: 1.8em;
}

/*bas menu1*/
/*menu1 responsive*/
@media screen and (max-width: 870px) {
  .title-m1 {
    margin: auto;
    width: auto;
  }
  .titrem1 {
    font-size: 2em;
  }
  .ul-m4 {
    margin: 0;
  }
  #container-m1 {
    width: 100%;
    height: 2350px;
  }
  .carte-m1 {
    height: 2100px;
  }
  .prix {
    float: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    margin: auto;
    margin-top: 8px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .essaie {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .title {
    width: 100%;
    margin: auto;
  }
  .separateur-m1 {
    width: 15%;
    height: 30px;
  }
  .carte-m1 {
    width: 100%;
    height: 2100px;
    margin: 0;
    padding: 0;
  }
  .fin {
    font-size: 1.8em;
  }
  .titre {
    margin: 10px auto;
  }
}

/*menu1 responsive*/
/*menu2*/
#container-m-2 {
  width: 100%;
  height: 1900px;
}

#carte-m2 {
  font-family: 'Parisienne', cursive;
  position: relative;
  background-color: #fdf5fe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  height: 1550px;
  margin: auto;
  -webkit-margin-bottom-collapse: separate;
}

.bloc-page-m2 {
  background-color: #fff;
}

#box-m2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*haut menu2*/
.gradient-m2 {
  font-size: 4em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  width: 100%;
}

.gradient-m2 {
  position: relative;
  color: #000;
  background: #fff;
  mix-blend-mode: multiply;
}

.gradient-m2::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(#c77800), color-stop(#c77800), color-stop(#faaa54), color-stop(#ba68c8), color-stop(#9c6996), to(#8559da));
  background: linear-gradient(to right, #c77800, #c77800, #faaa54, #ba68c8, #9c6996, #8559da);
  mix-blend-mode: screen;
}

/*haut menu2*/
/*communs menu2*/
.entree-m2 .plat-m2 .dessert-m2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 3%;
}

.englobe-m2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  width: 100%;
  margin: 70px auto;
}

.icon-m2, .icon-m2-2 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
  width: 33%;
  height: 15px;
  -ms-flex-item-align: center;
      align-self: center;
  margin: auto;
}

.m-2, .m-3, .m-4 {
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 2.5em;
  font-weight: lighter;
  -webkit-text-size-adjust: auto;
}

li {
  font-weight: lighter;
  padding: 10px 0;
}

.li-m2-1 {
  color: #c77800;
}

.li-m2-2 {
  color: #ba68c8;
}

.li-m2-3 {
  color: #3f51b5;
}

/*communs menu2*/
/*entree menu2*/
.ul-m2 {
  font-size: 1.9em;
  padding: 0;
  margin: 60px;
  list-style: none;
}

.liste-m2 {
  padding-bottom: 50px;
}

.m-2:after {
  content: '';
  display: block;
  margin: auto;
  height: 1px;
  width: 0;
  background: transparent;
  -webkit-transition: width .5s ease, background-color .5s ease;
  transition: width .5s ease, background-color .5s ease;
}

.m-2:hover:after {
  width: 90%;
  background: #444;
}

.m-2 {
  color: #c77800;
}

/*entree menu2*/
/*plats menu2*/
.m-3:after {
  content: '';
  display: block;
  margin: auto;
  height: 1px;
  width: 0;
  background: transparent;
  -webkit-transition: width .5s ease, background-color .5s ease;
  transition: width .5s ease, background-color .5s ease;
}

.m-3:hover:after {
  width: 90%;
  background: #444;
}

.m-3 {
  color: #ba68c8;
}

/*plats menu2*/
/*desserts menu2*/
.m-4 {
  color: #8559da;
}

.m-4:after {
  content: '';
  display: block;
  margin: auto;
  height: 1px;
  width: 0;
  background: transparent;
  -webkit-transition: width .5s ease, background-color .5s ease;
  transition: width .5s ease, background-color .5s ease;
}

.m-4:hover:after {
  width: 90%;
  background: #444;
}

/*desserts menu2*/
/*listes des plats menu2*/
/*menu2 responsive*/
@media (max-width: 870px) {
  #container-m-2 {
    width: 100%;
    height: 2100px;
    margin: 0;
    padding: 0;
  }
  #carte-m2 {
    width: 100%;
    height: 1850px;
  }
  .gradient-m2 {
    margin: 0;
    font-size: 2em;
  }
  .prix {
    float: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 15px;
    margin: 0;
    padding: 0;
  }
  .m-2, .m-3, .m-4 {
    margin: 20px auto;
    font-size: 1.5em;
  }
  .englobe-m2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 50px;
  }
  .icon-m2, .icon-m2-2 {
    width: auto;
  }
  .icon-m2 {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  li {
    padding: 10px 0px;
  }
  .ul-m2 {
    font-size: 1.7em;
    margin: auto;
    padding: 5px;
  }
}

/*menu2 responsive*/
/*menu3*/
#container-m-3 {
  height: 1600px;
}

#carte-m3 {
  font-family: 'Kalam', cursive;
  width: 90%;
  margin: 50px auto;
  background-color: #e5ffff;
}

/*commun menu3*/
.bloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  word-break: normal;
}

.entree, .plat, .dessert {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  word-break: normal;
  margin-bottom: 60px;
}

/*commun menu3*/
/*haut menu3*/
.gradient-m3 {
  font-size: 4em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  width: 100%;
}

.gradient-m3 {
  position: relative;
  color: #000;
  background: #fff;
  mix-blend-mode: multiply;
}

.gradient-m3::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(#0d47a1), color-stop(#0d47a1), color-stop(#1e88e5), color-stop(#64b5f6), to(#64b5f6));
  background: linear-gradient(to right, #0d47a1, #0d47a1, #1e88e5, #64b5f6, #64b5f6);
  mix-blend-mode: screen;
}

/*haut menu3*/
/*separateurs menu3*/
.btn {
  border: solid 5px #0d47a1;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-item-align: center;
      align-self: center;
  width: 33%;
  height: 20px;
  margin: 0 20px;
  border-radius: 0px 0px 0px 10px;
  align-self: center;
}

.btn2 {
  border: solid 4px #0d47a1;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 33%;
  height: 20px;
  margin: 0 20px;
  border-radius: 0px 0px 10px 0px;
  align-self: center;
}

.btn3 {
  border: solid 5px #1e88e5;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-item-align: center;
      align-self: center;
  width: 33%;
  height: 20px;
  margin: 0 20px;
  float: left;
  border-radius: 0px 0px 0px 10px;
  align-self: center;
}

.btn4 {
  border: solid 4px #1e88e5;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 33%;
  height: 20px;
  margin: 0 20px;
  float: right;
  border-radius: 0px 0px 10px 0px;
  align-self: center;
}

.btn5 {
  border: solid 5px #64b5f6;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-item-align: center;
      align-self: center;
  width: 33%;
  height: 20px;
  margin: 0 20px;
  float: left;
  border-radius: 0px 0px 0px 10px;
  align-self: center;
}

.btn6 {
  border: solid 4px #64b5f6;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 33%;
  height: 20px;
  margin: 0 20px;
  float: right;
  border-radius: 0px 0px 10px 0px;
  align-self: center;
}

/*separateurs menu3*/
/*responsive menu3*/
@media screen and (max-width: 1500px) {
  .m-1 {
    font-size: 1.8em;
  }
}

@media screen and (max-width: 870px) {
  #carte-m3 {
    width: 100%;
    margin: 0;
    margin-bottom: 30px;
    height: 1600px;
  }
  .light-m3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0px auto;
    padding: 20px 0;
  }
  .titre {
    font-size: 1em;
  }
  .plat, .entree, .dessert {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0;
  }
  .title-m3 {
    padding: 0;
    margin: auto;
  }
  .btn, .btn3, .btn5 {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-item-align: center;
        align-self: center;
    width: 50%;
    margin: 0;
    height: 20px;
    border-radius: 0px 0px 10px 10px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .btn2, .btn4, .btn6 {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-item-align: center;
        align-self: center;
    border-radius: 0px 0px 10px 10px;
    width: 50%;
    height: 20px;
    margin-bottom: 30px;
    margin: 0;
  }
  .gradient-m3 {
    font-size: 2em;
    margin: auto;
    text-align: center;
    padding: 0;
  }
  .prix {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: auto;
  }
  .li {
    font-size: 1.3em;
  }
}

/*responsive menu3*/
/*menu3*/
/*menu4*/
#container-m4 {
  height: 1450px;
}

#carte-m4 {
  font-family: 'Rokkitt', serif;
  width: 90%;
  margin: auto;
}

/*titre coloré menu4*/
.gradient-m4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 4em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  background: #fff;
}

.gradient-m4::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(#2e7d32), color-stop(#81c784), color-stop(#98ee99), to(#98ee99));
  background: linear-gradient(to right, #2e7d32, #81c784, #98ee99, #98ee99);
  mix-blend-mode: screen;
}

/*titre coloré menu4*/
/*commun menu4*/
.englobe-m4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  word-break: normal;
}

.btnm4 {
  background: -webkit-gradient(linear, left top, right top, from(#2e7d32), color-stop(#81c784), color-stop(#98ee99), to(#98ee99));
  background: linear-gradient(to right, #2e7d32, #81c784, #98ee99, #98ee99);
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-item-align: center;
      align-self: center;
  width: 33%;
  height: 8px;
  margin: 0 20px;
  float: left;
  align-self: center;
}

.btnm4-2 {
  background: -webkit-gradient(linear, right top, left top, from(#2e7d32), color-stop(#81c784), color-stop(#98ee99), to(#98ee99));
  background: linear-gradient(to left, #2e7d32, #81c784, #98ee99, #98ee99);
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-item-align: center;
      align-self: center;
  width: 33%;
  height: 8px;
  margin: 0 20px;
  float: right;
  align-self: center;
}

.entree-m4 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  word-break: normal;
  margin-bottom: 60px;
}

/*commun menu4*/
/*responsive menu4*/
@media screen and (max-width: 870px) {
  #container-m4 {
    height: 1700px;
  }
  .gradient-m4 {
    font-size: 2em;
    text-align: center;
    display: inline-block;
    background: white;
    color: black;
    position: relative;
    margin: 0;
  }
  #carte-m4 {
    width: 100%;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
  }
  .block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .light-m4 {
    margin-bottom: 30px;
  }
  .prix {
    float: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    margin: auto;
    margin-top: 8px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .title-m4 {
    width: 30%;
    margin: 0;
    text-align: center;
  }
  li {
    text-align: center;
  }
  .separateur {
    width: 40%;
    height: auto;
  }
  .carte {
    width: 90%;
  }
  section {
    margin: 0;
  }
}

/*responsive menu4*/
/*menu4*/
/*mentions legales*/
#bloc-page-mention {
  width: 100%;
  height: 900px;
  margin: 0;
}

#container-mentions {
  height: 700px;
  text-align: center;
}

p {
  padding: 10px;
}

.important {
  font-size: 2em;
  color: red;
}

@media screen and (max-width: 870px) {
  #container-mentions {
    height: 1050px;
    text-align: center;
  }
}

/*mentions legales*/
/*# sourceMappingURL=style.css.map */